{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">


  
</head>
<body>

  <header class="header">
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="my_col">
                     <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><img src="{% static 'images/phone.png' %}" alt=""></div>+8801733493563
                        </div>
                </div>
                <div class="my_col">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><img src="{% static 'images/mail.png' %}" alt=""></div><a
                            href="#"><span
                                class="__cf_email__"
                                data-cfemail="">Nayonhawlader.bd@gmail.com</span></a>
                        </div>
                </div>
                <div class="my_col">
                    <div class="top_bar_content ml-auto">
                    <div class="top_bar_menu">
                        <ul class="standard_dropdown top_bar_dropdown">
                            <li>
                                <a href="#">English<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Italian</a></li>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">Japanese</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">EUR Euro</a></li>
                                    <li><a href="#">GBP British Pound</a></li>
                                    <li><a href="#">JPY Japanese Yen</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top_bar_user">
                        <div class="user_icon">                      
    
                            {% for users in users %}
                                <img class="user_main" src="{{users.image.url}}" alt="">                                 
                            {% empty %}
                                <img class="user_temp"  src="{% static 'images/user.svg' %}" alt="">  
                            {% endfor %}
                                
                           
                        </div>
                        <div class="user_box">
                        {% if user.id is not None %}                        
                        <a href="{% url 'userprofile' %}" >hi {{request.user.username}}</a>
                        <a href="{% url 'user_logout' %}" >Logout</a>
                        <a href="{% url 'OrderCart' %}">Checkout</a>
                        {% else %}                              
                        <a href="{% url 'user_login' %}" >SignIn/SignUp</a>
                        <a href="{% url 'user_register' %}" >Register</a>

                        {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="header_main">
        
        <div class="container">
            {% if messages %} {% for message in messages %}
               <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}       
            {% endif %}
            <div class="row">

                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo"><a href="{% url 'index' %}">OneTech</a></div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form class="header_search_form clearfix" method="GET" action="/search" >
                                    <input type="search" name="search" class="header_search_input"
                                        placeholder="Search for products...">
                                    <div class="custom_dropdown">
                                        <div class="custom_dropdown_list">
                                            <span class="custom_dropdown_placeholder clc">All Categories</span>
                                            <i class="fas fa-chevron-down"></i>
                                            <ul class="custom_list clc">
                                                <li><a class="clc" href="#">All Categories</a></li>
                                                <li><a class="clc" href="#">Computers</a></li>
                                                <li><a class="clc" href="#">Laptops</a></li>
                                                <li><a class="clc" href="#">Cameras</a></li>
                                                <li><a class="clc" href="#">Hardware</a></li>
                                                <li><a class="clc" href="#">Smartphones</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="submit" class="header_search_button trans_300"
                                        value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist_icon"><img src="{% static 'images/heart.png' %}" alt=""></div>
                            <div class="wishlist_content">
                                <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                <div class="wishlist_count">115</div>
                            </div>
                        </div>
                        
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <div class="cart_icon">
                                    <a href="{% url 'cart_details' %}"><img src="{% static 'images/cart.png' %}" alt=""></a>
                                    {% if user.id is not None %}                                        
                                            <div class="cart_count"><span>{{total_product}}</span></div>                                          
                                        {% else %}
                                        <div class="cart_count"><span>0</span></div>
                                    {% endif %}
                                </div>
                                <div class="cart_content">
                                    {% if user.id is not None %}     
                                    <div class="cart_text"><a href="{% url 'cart_details' %}">Cart</a></div>
                                    {% else %}
                                    <div class="cart_text"><a href="#">Cart</a></div>
                                    {% endif %}
 
                                    {% if user.id is not None %}     
                                    <div class="cart_price">${{total_amount}}</div>
                                    {% else %}
                                    <div class="cart_price">$0</div>
                                    {% endif %}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="main_nav_content d-flex flex-row">

                        <div class="cat_menu_container">
                            <div
                                class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                <div class="cat_burger"><span></span><span></span><span></span></div>
                                <div class="cat_menu_text">categories</div>
                            </div>
                            <ul class="cat_menu">
                                <li><a href="#">Computers & Laptops <i
                                            class="fas fa-chevron-right ml-auto"></i></a></li>
                                <li><a href="#">Cameras & Photos<i class="fas fa-chevron-right"></i></a></li>
                                <li class="hassubs">
                                    <a href="#">Hardware<i class="fas fa-chevron-right"></i></a>
                                    <ul>
                                        
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Smartphones & Tablets<i class="fas fa-chevron-right"></i></a>
                                </li>
                                <li><a href="#">TV & Audio<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">Gadgets<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">Car Electronics<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">Video Games & Consoles<i class="fas fa-chevron-right"></i></a>
                                </li>
                                <li><a href="#">Accessories<i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div>

                        <div class="main_nav_menu ml-auto">
                            <ul class="standard_dropdown main_nav_dropdown">
                                <li><a href="{% url 'index' %}">Home<i class="fas fa-chevron-down"></i></a></li>
                                <li class="hassubs">
                                    <a href="#">Super Deals<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li>
                                            <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="hassubs">
                                    <a href="#">Featured Brands<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li>
                                            <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="hassubs">
                                    <a href="#">Pages<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li><a href="{% url 'Shop' %}">Shop<i class="fas fa-chevron-down"></i></a></li>
                                       
                                        <li><a href="{% url 'Blog' %}">Blog<i class="fas fa-chevron-down"></i></a></li>
                                        
                
                                        <li><a href="{% url 'cart_details' %}">Cart<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="{% url 'Contact' %}">Contact<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'Blog' %}">Blog<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="{% url 'Contact' %}">Contact<i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </div>

                        <div class="menu_trigger_container ml-auto">
                            <div  class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                <div class="menu_burger">
                                    <div class="menu_trigger_text">menu</div>
                                    <div class="cat_burger menu_burger_inner">
                                        <span></span><span></span><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="page_menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page_menu_content">
                        <div class="page_menu_search">
                            <form class="header_search_form clearfix" method="GET" action="/search" >
                                <input type="search" name="search" class="header_search_input"
                                    placeholder="Search for products...">
                                    <button type="submit" class="header_search_button trans_300"
                                    value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>    
                            </form>
                        </div>
                        <ul class="page_menu_nav">
                            <li class="page_menu_item">
                                <a href="#">Home</a>
                            </li>
                            <li class="page_menu_item has-children">
                                <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#">Super Deals</a></li>                                    
                                    <li><a href="#">Menu Item</a></li>
                                    <li><a href="#">Menu Item</a></li>
                                    <li><a href="#">Menu Item</a></li>
                                </ul>
                            </li>
                            <li class="page_menu_item"><a href="{% url 'cart_details' %}">Cart</a></li>                           
                            <li class="page_menu_item"><a href="{% url 'Shop' %}">Shop</a></li>                           
                            <li class="page_menu_item"><a href="{% url 'Blog' %}">blog</a></li>
                            <li class="page_menu_item"><a href="{% url 'Contact' %}">contact</a></li>
                                                         
                            {% if user.id is not None %}                                    
                            <li class="page_menu_item"><a href="{% url 'userprofile' %}" >hi {{request.user.username}}</a></li>
                            <li class="page_menu_item"><a href="{% url 'user_logout' %}">Logout</a></li>
                            <li class="page_menu_item"><a href="{% url 'OrderCart' %}">Checkout</a></li>
                            {% else %}                              
                            <li class="page_menu_item"><a href="{% url 'user_login' %}" >SignIn/SignUp</a></li>
                            <li class="page_menu_item"><a href="{% url 'user_register' %}" >Register</a></li>
                            {% endif %}
                               
                           
                        </ul>
                        <div class="menu_contact">
                            <div class="menu_contact_item">
                                <div class="menu_contact_icon"><img src="{% static 'images/phone_white.png' %}" alt=""></div>
                                +8801733493563
                            </div>
                            <div class="menu_contact_item">
                                <div class="menu_contact_icon"><img src="{% static 'images/mail_white.png' %}" alt=""></div><a
                                    href=""><span
                                        class="__cf_email__"
                                        data-cfemail="f39592808780929f9680b3949e929a9fdd909c9e">nayonhawlader.bd@gmail.com</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/TimelineMax.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://kit.fontawesome.com/4576aa3e75.js" crossorigin="anonymous"></script>


</body>
</html>